<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.javalab.calendar.repository.UserEventMapper">

    <!-- 회원 ID를 기준으로 이벤트 목록을 조회합니다. -->
    <select id="findEventsByMemberId" resultType="com.javalab.calendar.vo.EventVo">
        SELECT * FROM event
        WHERE member_id = #{memberId}
    </select>

    <!-- 새로운 이벤트를 추가합니다. -->
    <insert id="insertuserEvent">
        INSERT INTO event (member_id, category_id, routine_id, title, location, start_date, end_date, memo, all_day, publice)
        VALUES (#{memberId}, #{categoryId}, #{routineId}, #{title}, #{location}, #{startDate}, #{endDate}, #{memo}, #{allDay}, #{publice})
    </insert>

    <!-- 이벤트 ID를 기준으로 이벤트를 조회합니다. -->
    <select id="findEventById" resultType="com.javalab.calendar.vo.EventVo">
        SELECT * FROM event
        WHERE event_id = #{id}
    </select>

</mapper>
